<div class="form-container">
    <div class="form-wrapper">
        <h2>Choose Your Services</h2>
        <br />
        <%= form_tag('/users/update_services', method: :put) do %>
<<<<<<< b3ceb635eec1b4d9ec1fd439c653dc1f087378e8
            <%= check_box_tag 'housing' %> Housing
=======
            check_box_tag :housing
>>>>>>> RecordNotFoundError
        <% end %>
    </div>
</div>